<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Maps SDK 20.0.0 requires this optional compatibility library on older Play services. -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
</manifest>
