<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".SaveableStateTestActivity"
            android:exported="false" />
        <activity
            android:name=".SaveableLazyListStateTestActivity"
            android:exported="false" />
        <activity
            android:name=".P1CoreCapabilitiesTestActivity"
            android:exported="false"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
        <activity
            android:name=".NavigationBackTestActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
    </application>
</manifest>
